.wrapper-how-work{
  padding-bottom: 60px;
  .header-block{
    padding-bottom: 0.7em;
  }
  .how-we-work-list{
    margin-top:70px;
    @include container;
    @include breakpoint(max-width 815px){
      text-align: center;
    }
    .item-wrapper{
      @mixin number($number){
        display: block;
        color: #e7e7e7;
        content: "#{$number}";
        font-size: 12em;
        font-family: $rubik;
        font-weight: 600;
        margin-left: 15px;
        @include breakpoint(max-width 900px){
          font-size: 10em;
        }
        @include breakpoint(max-width 815px){
          font-size: 12em;
        }
      }
      &:first-child{
        .item{
          &:before{
            @include number(1);
          }
        }
      }
      &:nth-child(2){
        .item{
          &:before{
            @include number(2);
          }
        }
      }
      &:nth-child(3){
        .item{
          &:before{
            @include number(3);
          }
          &:after{
            display: block;
            position: absolute;
            content: "";
            @include sprite($ic-big-arrow);
            top: 50px;
            right: -10px;
          }
          .pic{
            right: 35px;
          }
        }
      }
      &:nth-child(4){
        .item{
          &:after{
            display: block;
            position: absolute;
            content: "";
            @include sprite($ic-big-arrow);
            top: 50px;
            right: -15px;
          }
          &:before{
            @include number(4);
          }
          .pic{
            right: 20px;
          }
        }
      }
      &:nth-child(5){
        .item{
          @include last;
          &:after{
            display: none;
          }
          .pic{
            right: 20px;
          }
          &:before{

            @include number(5);
          }
        }
      }
    }
    .item{
      @include span(1 of 5 0.05 inset);
      @include breakpoint(max-width 815px){
        float:none!important;
        margin: 0;
        display: inline-block;
        width: 40%;
        margin-bottom:30px;
        &:after{
          top: auto!important;
          bottom: -25px;
          transform: rotate(90deg)!important;
          position: relative !important;
          display: inline-block !important;
        }
      }
      position: relative;
      &:after{
        display: block;
        position: absolute;
        content: "";
        @include sprite($ic-big-arrow);
        top: 50px;
        right: 0px;
      }
      .pic{
        position: absolute;
        top: 65px;
        right: 54px;
      }
      .name{
        margin-top: 14px;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 300;
        line-height: 1.4rem;
      }
    }
  }
}
