.news-list{
  h2{
    padding-bottom: 25px;
  }
  .block-text{
    margin-bottom: 42px;
  }
  .news-element-list{
    @include container;
    padding-bottom:11px;
    .item{
      overflow: hidden;
      height: 180px;
      background-size: cover;
      @include gallery(1 of 5 0);
      @include breakpoint((max-width $display-normal)  (min-width $display-mini)){
        @include gallery(1 of 3 0);
      }

      @include breakpoint((max-width $display-smallest) (min-width $display-mini)){
        @include gallery(1 of 2 0);
      }
      @include breakpoint(max-width $display-mini){
        margin:0!important;
        width: 100%;
        float: none;
        @include gallery(1 of 1);
      }
      color: #fff;
      text-decoration: none;
      position: relative;
      &:before{
        display: block;;
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: #000;
        opacity: 0.4;
      }
      &:hover{
        &:before{
          display: block;;
          content: "";
          position: absolute;
          height: 100%;
          width: 100%;
          background-color: #e61b20;
          opacity: 1;
        }
        .cell{
          .name{
            margin-top: 0px;
          }
          .date{
            text-align: left;
            margin-top: 20px;
            span{
              position: relative;
              &:after{
                display: block;
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: #fff;
                content: "";
                left: 0;
                top: -10px;
              }
            }
          }
          .text{
            display: inline-block;
            @include breakpoint(max-width 1005px){
              font-size: 1rem;
              line-height: 1.3rem;
            }
          }
        }
      }
      .cell{
        padding: 12px;
        height: 150px;
        position: relative;
        .name{
          font-family: $rubik;
          margin-top: 30px;
          font-size: 1.3rem;
          font-weight: 400;
        }
        .text{
          font-size: 1.1rem;
          font-weight: 300;
          line-height: 1.5rem;
        }
        .date{
          text-align: center;
          margin-top: 45px;
          font-size: 1.2rem;
          text-align: center;
          span{
            position: relative;
            &:after{
              display: block;
              position: absolute;
              width: 100%;
              height: 2px;
              background-color: #fff;
              content: "";
              left: 0;
              top: -15px;
            }
          }
        }
        .text{
          display: none;
        }
      }
    }
  }
  .other-news-link{
    margin-top: 39px;
    display: inline-block;
    font-size: 1.25rem;
    color: #000;
    font-weight: 300;
  }
}
