.top-menu{
  ul{
    display:table;
    li{
      display: table-cell;
      vertical-align: middle;
      a{
        padding-left: 7px;
        padding-right: 7px;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        height: 55px;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 0.9rem;
        color: #000;
        @include breakpoint(max-width 1030px){
          padding-left: 4px;
          padding-right: 4px;
        }
      }
      &:first-child{
        a{
          padding-left: 0px;
        }
      }
      &:last-child{
        a{
          padding-right: 0px;
        }
      }
    }
  }
}
