html{
  font-size:14px;
  font-family: $roboto;
}
.container{
  margin: 0 auto;
  padding-left: $padding;
  padding-right: $padding;
  max-width: $max-width;
  min-width: $min-width;
  @include clearfix();
}
i{
  display: inline-block;
}
.table{
  display: table;
}
.table-row{
  display: table-row;
}
.table-cell{
  display: table-cell;
}
.clearfix{
  @include clearfix();
}
.slick-next{
  position: absolute;
  right: -4px;
  z-index: 3;
  top: 40%;
  width: 17px;
  height: 45px;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  font-size: 0px;
  &:before{
    display: block;
    content: "";
    position: absolute;
    height: 25px;
    width: 3px;
    background-color: #ccc;
    transform: rotate(35deg);
    top: 15px;
  }
  &:after{
    display: block;
    content: "";
    position: absolute;
    height: 25px;
    width: 3px;
    background-color: #ccc;
    transform: rotate(-35deg);
    top: -5px;
  }
}
.slick-prev{
  position: absolute;
  left: -4px;
  z-index: 3;
  top: 40%;
  width: 17px;
  height: 45px;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  font-size: 0px;
  &:before{
    display: block;
    content: "";
    position: absolute;
    height: 25px;
    width: 3px;
    background-color: #ccc;
    transform: rotate(-35deg);
    top: 15px;
  }
  &:after{
    display: block;
    content: "";
    position: absolute;
    height: 25px;
    width: 3px;
    background-color: #ccc;
    transform: rotate(35deg);
    top: -5px;
  }
}
a{
  &:hover{
    color: $link-hover-color;
  }
}
html, body {
  height: 100%;
}

html,
body {
  height: 100%;
}

main {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -268px;
}

footer,
.push {
  height: 268px;
}
.section-header{
  margin-top: 35px;
  margin-bottom: 40px;
  font-size: 2.3rem;
  text-align: center;
  text-transform: uppercase;
  font-family: $rubik;
  font-weight: 300;
}

.left.sidebar{
  float: left;
  width: 23%;
  @include breakpoint(max-width 860px){
    display: none;
  }
}
.right.content{
  float: right;
  width: 76%;
}
.text-right{
  text-align: right;
}
.static-width-sidebar{
  $side-bar-width: 222px;
  .left.sidebar{
    width: $side-bar-width;
  }
  .right.content{
    width: calc(99% - #{$side-bar-width});
    @include breakpoint(max-width 860px){
      float: none;
      width: 100%;
    }
  }
}
.back-link{
  float: left;
  font-size: 1.2rem;
  text-transform: none;
  font-weight: 300;
  @include breakpoint(max-width 740px){
    float: none;
    display: inline-block;
    width: 100%;
    text-align: left;
  }
  .arrow-icon{
    font-size: 1.4rem;
    margin-right: 10px;
  }
}
.section-text{
  text-align: center;
  font-size: 1.2rem;
  font-weight: 300;
  padding-bottom: 44px;
}
