html{
  font-size:14px;
  font-family: $roboto;
}
.container{
  margin: 0 auto;
  padding-left: $padding;
  padding-right: $padding;
  max-width: $max-width;
  min-width: $min-width;
  @include clearfix();
}
i{
  display: inline-block;
}
.table{
  display: table;
}
.table-row{
  display: table-row;
}
.table-cell{
  display: table-cell;
}
.clearfix{
  @include clearfix();
}
.slick-next{
  position: absolute;
  right: -4px;
  z-index: 3;
  top: 40%;
  width: 17px;
  height: 45px;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  font-size: 0px;
  &:before{
    display: block;
    content: "";
    position: absolute;
    height: 25px;
    width: 3px;
    background-color: #ccc;
    transform: rotate(35deg);
    top: 15px;
  }
  &:after{
    display: block;
    content: "";
    position: absolute;
    height: 25px;
    width: 3px;
    background-color: #ccc;
    transform: rotate(-35deg);
    top: -5px;
  }
}
.slick-prev{
  position: absolute;
  left: -4px;
  z-index: 3;
  top: 40%;
  width: 17px;
  height: 45px;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  font-size: 0px;
  &:before{
    display: block;
    content: "";
    position: absolute;
    height: 25px;
    width: 3px;
    background-color: #ccc;
    transform: rotate(-35deg);
    top: 15px;
  }
  &:after{
    display: block;
    content: "";
    position: absolute;
    height: 25px;
    width: 3px;
    background-color: #ccc;
    transform: rotate(35deg);
    top: -5px;
  }
}
