p{
  margin-bottom: 1.3rem;
  line-height: 1.42rem;
  font-size: 1.08rem;
}
.text-center{
  text-align: center;
}
h2{
  &.header-block{
    font-size: 2.1em;
    padding-top: 1.32em;
    padding-bottom: 1.2em;
  }
}
.block-text{
  font-size: 1.49em;
  font-weight: 300;
}
.link-see-detail{
  display: inline-block;
  font-size: 1.25rem;
  color: #000;
  font-weight: 300;
  margin-top: 39px;
}
