p{
  margin-bottom: 1.3rem;
  line-height: 1.42rem;
  font-size: 1.08rem;
}
.text-center{
  text-align: center;
}
h2{
  &.header-block{
    font-size: 2.1em;
    padding-top: 1.32em;
    padding-bottom: 1.2em;
  }
}
.section-header{
  margin-top: 35px;
  margin-bottom: 40px;
  font-size: 2.3rem;
  text-align: center;
  text-transform: uppercase;
  font-family: $rubik;
  font-weight: 300;
}
.section-header-2{
  margin-bottom: 20px;
  margin-top: 35px;
  font-size: 2.3rem;
  text-align: center;
  text-transform: uppercase;
  font-family: $rubik;
  font-weight: 300;
}
.block-text{
  font-size: 1.49em;
  font-weight: 300;
}
.link-see-detail{
  display: inline-block;
  font-size: 1.25rem;
  color: #000;
  font-weight: 300;
  margin-top: 39px;
  &:hover{
    color: $link-hover-color!important;
  }
}
.section-text{
  text-align: center;
  font-size: 1.2rem;
  font-weight: 300;
  padding-bottom: 44px;
}
.section-text-2{
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 27px;
  line-height: 1.5rem;
  line-height: 1.6rem;
}
