<style>
header{
  border-bottom: 2px solid #fff;
}
</style>
<div class="bx-breadcrumb">
    <div class="bx-breadcrumb-item" id="bx_breadcrumb_0" itemscope="" itemtype="№" itemref="bx_breadcrumb_1">
      <a href="/" title="Главная" itemprop="url">
        <span itemprop="title">Главная</span>
      </a>
    </div>
    <div class="bx-breadcrumb-item" id="bx_breadcrumb_1" itemscope="" itemtype="" itemprop="child">
      &gt;
      <a href="#" title="Каталог товаров" itemprop="url">
        <span itemprop="title">Каталог товаров</span>
      </a>
    </div>
    <div class="bx-breadcrumb-item">
      &gt;
      <span>Прицепы</span>
    </div><div style="clear:both"></div>
  </div>
