{% extends './../layouts/master.html' %}
{% block content %}
<div class="container">
  <!--start component breadcrumbs-->
    {% include './../components/breadcrumb.html' %}
  <!--end component breadrumbs-->
  <!--start component reviews-->
  <h1 class="section-header-2">
    Отзывы
  </h1>
  <div class="section-text-2">
    Отзывы клиетов - самое яркое подтвеждение<br>
    качества продукции и работы наших специалистов
  </div>
  <div class="row text-center button-reviews-row">
    <button type="button" class="btn-green-light add-reviews" name="button"><i class="ic-reviews"></i>Оставить свой отзыв</button>
  </div>
  <div class=" reviews-page">
    <div class="reviews-list">
      <!--foreach $arResult-->
      {% for item in reviews %}
      <div class="item">
        <div class="cell">
          <div class="pic">
            <img src="{{ item.pic }}" alt="">
          </div>
          <div class="text">
            <div class="name">
              {{ item.name }}
            </div>
            <div class="comment">
              {{ item.text }}
            </div>
            <div class="company">
              ООО Олимп
            </div>
            <div class="detail-link">
              <a href="#" title="" class="link-see-detail">Подробнее</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      <!--endforeach-->
    </div>
  </div>
  <!--end component reviews-->
</div>
<!--start component reviews form-->
<div class="wrapper bg-texture reviews-form">
  <div class="container">
    <h2 class="section-header-2">Оставьте свой отзыв</h2>
    <div class="reviews-form-container">
      <form class="" action="index.html" method="post">
        <div class="top-reviews-block">
          <div class="table">
            <div class="table-row">
              <div class="table-cell">
                <input type="text" name="" value="">
              </div>
              <div class="table-cell">
                Фотография
              </div>
              <div class="table-cell">
                <input type="file" name="" value="">
              </div>
            </div>
          </div>
        </div>
        <div class="bottom-reveiws-block">

        </div>
      </form>
    </div>
  </div>
</div>
<!--end component reviews form-->
{% endblock %}
