{% extends './../layouts/master.html' %}
{% block content %}
<div class="container">
  <!--start component breadcrumbs-->
    {% include './../components/breadcrumb.html' %}
  <!--end component breadrumbs-->
  <!--start component reviews-->
  <h1 class="section-header-2">
    Отзывы
  </h1>
  <div class="section-text-2">
    Отзывы клиетов - самое яркое подтвеждение<br>
    качества продукции и работы наших специалистов
  </div>
  <div class="row text-center button-reviews-row">
    <button type="button" class="btn-green-light add-reviews" name="button"><i class="ic-reviews"></i>Оставить свой отзыв</button>
  </div>
  <div class=" reviews-page">
    <div class="reviews-list">
      <!--foreach $arResult-->
      {% for item in reviews %}
      <div class="item">
        <div class="cell">
          <div class="pic">
            <img src="{{ item.pic }}" alt="">
          </div>
          <div class="text">
            <div class="name">
              {{ item.name }}
            </div>
            <div class="comment">
              {{ item.text }}
            </div>
            <div class="company">
              ООО Олимп
            </div>
            <div class="detail-link">
              <a href="#" title="" class="link-see-detail">Подробнее</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      <!--endforeach-->
    </div>
  </div>
  <!--end component reviews-->
</div>
<!--start component reviews form-->
<div class="wrapper bg-texture reviews-form">
  <div class="container">
    <h2 class="section-header-2">Оставьте свой отзыв</h2>
    <div class="reviews-form-container">
      <form class="" action="index.html" method="post">
        <div class="top-reviews-block">
          <div class="left-reviews-block">
            <div class="row">
              <input type="text" name="NAME" value="" placeholder="ФИО">
            </div>
            <div class="row">
              <input type="text" name="POSITION" value="" placeholder="ДОЛЖНОСТЬ">
            </div>
            <div class="row">
              <input type="text" name="COMPANY" value="" placeholder="ОРГАНИЗАЦИЯ">
            </div>
            <div class="row">
              <input type="text" name="CITY" value="" placeholder="ГОРОД">
            </div>
            <div class="row">
              <input type="text" name="PRODUCT_REVIEW" value="" placeholder="ПРОДУКТ ОТЗЫВА">
            </div>
          </div>
          <div class="right-reviews-block">
            <div class="table">
              <div class="table-row">
                <div class="table-cell">
                  <label for="photo">Фотография:</label>
                </div>
                <div class="table-cell input-cell">
                  <span class="input-file">Файл инпут</span>
                </div>
              </div>
              <div class="table-row">
                <div class="table-cell">
                  <label for="video">Видео отзыв:</label>
                </div>
                <div class="table-cell input-cell">
                  <span class="input-file">Файл инпут</span>
                </div>
              </div>
              <div class="table-row">
                <div class="table-cell">
                  <label for="PRODUCT_RATING">Оцена продукта:</label>
                </div>
                <div class="table-cell">
                  <div id="product-rating"></div>
                  <input type="hidden" id="PRODUCT_RATING" name="PRODUCT_RATING" value="">
                </div>
              </div>
              <div class="table-row">
                <div class="table-cell">
                  <label for="COMPANY_RATING">Оцена компании:</label>
                </div>
                <div class="table-cell">
                  <input type="hidden" id="COMPANY_RATING" name="COMPANY_RATING" value="">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bottom-reveiws-block">
          <div class="row">
            <textarea name="" placeholder="ДОСТОИНСТВА"></textarea>
          </div>
          <div class="row">
            <textarea name="" placeholder="НЕДОСТАТКИ"></textarea>
          </div>
          <div class="row">
            <textarea name="" placeholder="ОБЩИЕ ВПЕЧАТЛЕНИЯ"></textarea>
          </div>
          <div class="row text-center">
            качпа
          </div>
          <div class="row text-center">
            <button type="submit" class="btn-green-light send-reviews" name="button">отправить отзыв</button>
            <button type="reset" name="button" class="reset-btn">Очистить форму</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!--end component reviews form-->
{% endblock %}
