<div class="wrapper footer-block">
  <div class="container">
    <div class="footer-block-container">
      <div class="coll bottom-menu">
        <!--start component bottom menu-->
        <ul>
          <li><b>Компания</b></li>
          <li><a href="#" title="О компании">О компании</a></li>
          <li><a href="#" title="Новости и акции">Новости и акции</a></li>
          <li><a href="#" title="Полезная информация">Полезная информация</a></li>
          <li><a href="#" title="Отзывы наших клиентов">Отызвы наших клиентов</a></li>
          <li><a href="#" title="Контакты">Контакты</a></li>
        </ul>
        <ul>
          <li><b>Покупателям</b></li>
          <li><a href="#" title="Как сделать заказ">Как сделать заказ</a></li>
          <li><a href="#" title="Оплата">Оплата</a></li>
          <li><a href="#" title="Доставка">Доставка</a></li>
          <li><a href="#" title="Гарантия">Гарантия</a></li>
          <li><a href="#" title="Услуги и сервис">Услуги и сервис</a></li>
        </ul>
        <!--end component bottom menu-->
      </div>
      <div class="coll spam">
        <b>Новостая рассылка</b>
        <div class="spam-form">
          <form class="" action="index.html" method="post">
            <div class="row">
              <input type="text" name="" placeholder="E-MAIL" value="">
            </div>
            <div class="row">
              <input type="text" name="" placeholder="НОМЕР ТЕЛЕФОНА" value="">
            </div>
            <div class="row">
              <button type="submit" name="button">ПОДПИСАТЬСЯ</button>
            </div>
            <div class="row text-center spam-off">
              <a href="#" title="Отписаться">Отписаться</a>
            </div>
          </form>
        </div>
      </div>
      <div class="coll bottom-contact">
        <div class="soc-icons">
          <ul>
            <li><a href="" title="Вконтакте"><i class="ic-vk"></i></a></li>
            <li><a href="" title="Facebook"><i class="ic-fb"></i></a></li>
            <li><a href="" title="Instagram"><i class="ic-inst"></i></a></li>
            <li><a href="" title="youtube"><i class="ic-ytube"></i></a></li>
            <li><a href="" title="Telegram"><i class="ic-tel"></i></a></li>
          </ul>
        </div>
        <div class="contact-list">
          <ul>
            <li>
              <div class="cell"><i class="ic-phone-mini"></i></div>
              <div class="cell">+7 (861) 260-20-09</div>
            </li>
            <li>
              <div class="cell"><i class="ic-email-mini"></i></div>
              <div class="cell"><a href="#" title="info@pricep-market.ru">info@pricep-market.ru</a></div>
            </li>
            <li>
              <div class="cell"><i class="ic-point-mini"></i></div>
              <div class="cell">г. Краснодар, ул. Уральская, 87 г</div>
            </li>
            <li>
              <div class="cell"><i class="ic-time-mini"></i></div>
              <div class="cell">пн-сб с 9:00 до 18:00, вс - выходной</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bottom-block wrapper">
  <div class="container">
    <div class="coop">
      ООО "Прицеп-Маркет"<br>2010-2017 гг.
    </div>
    <div class="created-by">
      Разработка сайта - <a href="#" title="Интелект-Сервис">"Интелект-Сервис"</a><br>Дизайн 2017 г.
    </div>
  </div>
</div>
