<div class="wrapper footer-block">
  <div class="container">
    <div class="footer-block-container">
      <div class="coll bottom-menu">
        <!--start component bottom menu-->
        <ul>
          <li><b>Компания</b></li>
          <li><a href="#" title="О компании">О компании</a></li>
          <li><a href="#" title="Новости и акции">Новости и акции</a></li>
          <li><a href="#" title="Полезная информация">Полезная информация</a></li>
          <li><a href="#" title="Отзывы наших клиентов">Отызвы наших клиентов</a></li>
          <li><a href="#" title="Контакты">Контакты</a></li>
        </ul>
        <ul>
          <li><b>Покупателям</b></li>
          <li><a href="#" title="Как сделать заказ">Как сделать заказ</a></li>
          <li><a href="#" title="Оплата">Оплата</a></li>
          <li><a href="#" title="Доставка">Доставка</a></li>
          <li><a href="#" title="Гарантия">Гарантия</a></li>
          <li><a href="#" title="Услуги и сервис">Услуги и сервис</a></li>
        </ul>
        <!--end component bottom menu-->
      </div>
      <div class="coll spam">
        <b>Новостая рассылка</b>
        <div class="spam-form">
          <form class="" action="index.html" method="post">
            <div class="row">
              <input type="text" name="" placeholder="E-MAIL" value="">
            </div>
            <div class="row">
              <input type="text" name="" placeholder="НОМЕР ТЕЛЕФОНА" value="">
            </div>
            <div class="row">
              <button type="submit" name="button">ПОДПИСАТЬСЯ</button>
            </div>
          </form>
        </div>
      </div>
      <div class="coll bottom-contact">
        Контакты
      </div>
    </div>
  </div>
</div>
