<!--start mobile panel-->
<div class="wrapper mobile-panel">
  <div class="container">
    Меню и все такое...
  </div>
</div>
<!--end mobile panel-->
<div class="wrapper top-block">
  <div class="container">
    <div class="coll logo-block">
      <a href="/" title="Прицеп маркет" class="logo"><img src="./images/logo.png" alt="Прицеп маркет"></a>
      <div class="row table">
        <div class="table-cell">
          {% include './../components/catalog-menu.html' %}
        </div>
        <div class="table-cell">
          <strong class="slogan">Все свое вожу с собой!</strong>
        </div>
      </div>
    </div>
    <div class="coll search-block">
      <!--start component search-->
      <div class="search">
        <form class="" action="index.html" method="post">
          <input type="text" name="" value="Поиск...">
          <button type="submit" class="search-btn" name="button"><i class="ic-search"></i></button>
        </form>
      </div>
      <!--end component search-->
    </div>
    <div class="coll contact-block">
      <div class="phone-number">
        <!--start include area-->
        +7 (861) 260-20-09
        <!--end include area-->
      </div>
      <div class="callback">
        <a href="#" title="заказать обратный звонок">заказать обратный звонок</a>
      </div>
      <div class="soc-icons">
        <ul>
          <li><a href="" title="Вконтакте"><i class="ic-vk"></i></a></li>
          <li><a href="" title="Facebook"><i class="ic-fb"></i></a></li>
          <li><a href="" title="Instagram"><i class="ic-inst"></i></a></li>
          <li><a href="" title="youtube"><i class="ic-ytube"></i></a></li>
          <li><a href="" title="Telegram"><i class="ic-tel"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="wrapper bg-gray">
  <nav class="top-menu container">
    <!--start menu component-->
    <ul>
      <li><a href="/" title><i class="ic-home"></i></a></li>
      <li><a href="#" title>о компании</a></li>
      <li><a href="#" title>новости и акции</a></li>
      <li><a href="#" title>информация</a></li>
      <li><a href="#" title>как сделать заказ</a></li>
      <li><a href="#" title>оплата</a></li>
      <li><a href="#" title>доставка</a></li>
      <li><a href="#" title>гарантия</a></li>
      <li><a href="#" title>услуги и сервис</a></li>
      <li><a href="#" title>отзывы</a></li>
      <li><a href="#" title>контакты</a></li>
    </ul>
    <!--end menu component-->
  </nav>
</div>
