<div class="wrapper top-block">
  <div class="container">
    <div class="coll logo-block">
      <a href="/" title="Прицеп маркет" class="logo"><img src="./images/logo.png" alt="Прицеп маркет"></a>
      <div class="row table-row">
        <div class="table-cell">
          <button type="button" name="button">Каталог</button>
        </div>
        <div class="table-cell">
          <strong class="slogan">Все свое вожу с собой!</strong>
        </div>
      </div>
    </div>
    <div class="coll search-block">
      <!--start component search-->
      <div class="search">
        <form class="" action="index.html" method="post">
          <input type="text" name="" value="">
          <button type="submit" name="button">S</button>
        </form>
      </div>
      <!--end component search-->
    </div>
    <div class="coll contact-block">
      <div class="phone-number">
        <!--start include area-->
        +7 (861) 260-20-09
        <!--end include area-->
      </div>
    </div>
  </div>
</div>
