.info{
  padding-bottom: 45px;
  .header-block{
    padding-top: 105px;
    padding-bottom: 22px;
  }
  .block-text{
    padding-bottom: 73px;
  }
  .info-list{
    @include container;
    padding-bottom: 21px;
    .item{
      @include gallery(1 of 3 0.1);
      @include clearfix;
      @include breakpoint(max-width $display-small){
        @include gallery(1 of 1);
        margin-bottom: 20px;
        text-align: center;
      }
      .pic{
        float: left;
        width: 45%;
        margin-right: 3%;
        @include breakpoint(max-width $display-small){
          float: none;
          margin:0;
          width: 100%;
        }
        img{
          max-width: 100%;
        }
      }
      .info-content{
        float:left;
        width: 52%;
        @include breakpoint(max-width $display-small){
          float: none;
          margin:0;
          width: 100%;
        }
        .name{
          a{
            color: #000;
            text-decoration: none;
            font-size: 1.23rem;
            font-family: $rubik;
          }
        }
        .date{
          position: relative;
          margin-top: 20px;
          margin-bottom: 7px;
          font-size: 1.23rem;
          font-family: $rubik;
          display: inline-block;
          &:after{
            display: block;
            content: "";
            position: absolute;
            height: 2px;
            width: 70px;
            background-color: #000;
            top: -13px;
            left: 2px;
          }
        }
        .text{
          font-weight: 300;
          line-height: 1.4rem;
          font-size: 1.1rem;
        }
        .link-see-detail{
          margin-top:22px;
        }
      }
    }
  }
}
