.soc-widgets{
  .header-block{
    padding-bottom: 22px;
  }
  .block-text{
    padding-bottom: 20px;
  }
  .widget-list{
      @include container;
      text-align: center;
      margin-top: 30px;
    .item{
      display: inline-block;
      @include span(1 of 3 0);
      @include breakpoint(max-width 760px){
        @include span(1 of 1 0);
        text-align: center;
        margin-bottom: 10px;
        margin-top: 10px;
      }
    }
  }
}
