@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin colorButton($border, $bg, $shadow){
  border: 1px solid $border;
  border-radius: 4px;
  background-color: $bg,;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  box-shadow: 0px 2px 0px 1px $shadow;
  cursor: pointer;
  &:hover, .selected{
    background-color: darken($bg, 10);
  }
}
@mixin input-text(){
  height: 45px;
  border: 1px solid #b8b8bc;
  box-sizing: border-box;
  width: 100%;
  background-color: #fff;
  border-radius: 3px;
  padding-left: 15px;
}
