$ic-big-arrow-name: 'ic-big-arrow';
$ic-big-arrow-x: 90px;
$ic-big-arrow-y: 90px;
$ic-big-arrow-offset-x: -90px;
$ic-big-arrow-offset-y: -90px;
$ic-big-arrow-width: 25px;
$ic-big-arrow-height: 56px;
$ic-big-arrow-total-width: 230px;
$ic-big-arrow-total-height: 212px;
$ic-big-arrow-image: '../images/sprite.png';
$ic-big-arrow: (90px, 90px, -90px, -90px, 25px, 56px, 230px, 212px, '../images/sprite.png', 'ic-big-arrow', );
$ic-email-mini-name: 'ic-email-mini';
$ic-email-mini-x: 180px;
$ic-email-mini-y: 160px;
$ic-email-mini-offset-x: -180px;
$ic-email-mini-offset-y: -160px;
$ic-email-mini-width: 19px;
$ic-email-mini-height: 19px;
$ic-email-mini-total-width: 230px;
$ic-email-mini-total-height: 212px;
$ic-email-mini-image: '../images/sprite.png';
$ic-email-mini: (180px, 160px, -180px, -160px, 19px, 19px, 230px, 212px, '../images/sprite.png', 'ic-email-mini', );
$ic-email-name: 'ic-email';
$ic-email-x: 32px;
$ic-email-y: 180px;
$ic-email-offset-x: -32px;
$ic-email-offset-y: -180px;
$ic-email-width: 25px;
$ic-email-height: 25px;
$ic-email-total-width: 230px;
$ic-email-total-height: 212px;
$ic-email-image: '../images/sprite.png';
$ic-email: (32px, 180px, -32px, -180px, 25px, 25px, 230px, 212px, '../images/sprite.png', 'ic-email', );
$ic-fb-hover-name: 'ic-fb-hover';
$ic-fb-hover-x: 180px;
$ic-fb-hover-y: 0px;
$ic-fb-hover-offset-x: -180px;
$ic-fb-hover-offset-y: 0px;
$ic-fb-hover-width: 32px;
$ic-fb-hover-height: 32px;
$ic-fb-hover-total-width: 230px;
$ic-fb-hover-total-height: 212px;
$ic-fb-hover-image: '../images/sprite.png';
$ic-fb-hover: (180px, 0px, -180px, 0px, 32px, 32px, 230px, 212px, '../images/sprite.png', 'ic-fb-hover', );
$ic-fb-name: 'ic-fb';
$ic-fb-x: 0px;
$ic-fb-y: 180px;
$ic-fb-offset-x: 0px;
$ic-fb-offset-y: -180px;
$ic-fb-width: 32px;
$ic-fb-height: 32px;
$ic-fb-total-width: 230px;
$ic-fb-total-height: 212px;
$ic-fb-image: '../images/sprite.png';
$ic-fb: (0px, 180px, 0px, -180px, 32px, 32px, 230px, 212px, '../images/sprite.png', 'ic-fb', );
$ic-hit-name: 'ic-hit';
$ic-hit-x: 0px;
$ic-hit-y: 0px;
$ic-hit-offset-x: 0px;
$ic-hit-offset-y: 0px;
$ic-hit-width: 90px;
$ic-hit-height: 90px;
$ic-hit-total-width: 230px;
$ic-hit-total-height: 212px;
$ic-hit-image: '../images/sprite.png';
$ic-hit: (0px, 0px, 0px, 0px, 90px, 90px, 230px, 212px, '../images/sprite.png', 'ic-hit', );
$ic-home-name: 'ic-home';
$ic-home-x: 212px;
$ic-home-y: 90px;
$ic-home-offset-x: -212px;
$ic-home-offset-y: -90px;
$ic-home-width: 14px;
$ic-home-height: 14px;
$ic-home-total-width: 230px;
$ic-home-total-height: 212px;
$ic-home-image: '../images/sprite.png';
$ic-home: (212px, 90px, -212px, -90px, 14px, 14px, 230px, 212px, '../images/sprite.png', 'ic-home', );
$ic-inst-hover-name: 'ic-inst-hover';
$ic-inst-hover-x: 90px;
$ic-inst-hover-y: 146px;
$ic-inst-hover-offset-x: -90px;
$ic-inst-hover-offset-y: -146px;
$ic-inst-hover-width: 32px;
$ic-inst-hover-height: 32px;
$ic-inst-hover-total-width: 230px;
$ic-inst-hover-total-height: 212px;
$ic-inst-hover-image: '../images/sprite.png';
$ic-inst-hover: (90px, 146px, -90px, -146px, 32px, 32px, 230px, 212px, '../images/sprite.png', 'ic-inst-hover', );
$ic-inst-name: 'ic-inst';
$ic-inst-x: 122px;
$ic-inst-y: 146px;
$ic-inst-offset-x: -122px;
$ic-inst-offset-y: -146px;
$ic-inst-width: 32px;
$ic-inst-height: 32px;
$ic-inst-total-width: 230px;
$ic-inst-total-height: 212px;
$ic-inst-image: '../images/sprite.png';
$ic-inst: (122px, 146px, -122px, -146px, 32px, 32px, 230px, 212px, '../images/sprite.png', 'ic-inst', );
$ic-new-name: 'ic-new';
$ic-new-x: 90px;
$ic-new-y: 0px;
$ic-new-offset-x: -90px;
$ic-new-offset-y: 0px;
$ic-new-width: 90px;
$ic-new-height: 90px;
$ic-new-total-width: 230px;
$ic-new-total-height: 212px;
$ic-new-image: '../images/sprite.png';
$ic-new: (90px, 0px, -90px, 0px, 90px, 90px, 230px, 212px, '../images/sprite.png', 'ic-new', );
$ic-phone-mini-name: 'ic-phone-mini';
$ic-phone-mini-x: 212px;
$ic-phone-mini-y: 71px;
$ic-phone-mini-offset-x: -212px;
$ic-phone-mini-offset-y: -71px;
$ic-phone-mini-width: 13px;
$ic-phone-mini-height: 19px;
$ic-phone-mini-total-width: 230px;
$ic-phone-mini-total-height: 212px;
$ic-phone-mini-image: '../images/sprite.png';
$ic-phone-mini: (212px, 71px, -212px, -71px, 13px, 19px, 230px, 212px, '../images/sprite.png', 'ic-phone-mini', );
$ic-phone-name: 'ic-phone';
$ic-phone-x: 212px;
$ic-phone-y: 26px;
$ic-phone-offset-x: -212px;
$ic-phone-offset-y: -26px;
$ic-phone-width: 17px;
$ic-phone-height: 25px;
$ic-phone-total-width: 230px;
$ic-phone-total-height: 212px;
$ic-phone-image: '../images/sprite.png';
$ic-phone: (212px, 26px, -212px, -26px, 17px, 25px, 230px, 212px, '../images/sprite.png', 'ic-phone', );
$ic-point-mini-name: 'ic-point-mini';
$ic-point-mini-x: 212px;
$ic-point-mini-y: 51px;
$ic-point-mini-offset-x: -212px;
$ic-point-mini-offset-y: -51px;
$ic-point-mini-width: 13px;
$ic-point-mini-height: 20px;
$ic-point-mini-total-width: 230px;
$ic-point-mini-total-height: 212px;
$ic-point-mini-image: '../images/sprite.png';
$ic-point-mini: (212px, 51px, -212px, -51px, 13px, 20px, 230px, 212px, '../images/sprite.png', 'ic-point-mini', );
$ic-point-name: 'ic-point';
$ic-point-x: 212px;
$ic-point-y: 0px;
$ic-point-offset-x: -212px;
$ic-point-offset-y: 0px;
$ic-point-width: 18px;
$ic-point-height: 26px;
$ic-point-total-width: 230px;
$ic-point-total-height: 212px;
$ic-point-image: '../images/sprite.png';
$ic-point: (212px, 0px, -212px, 0px, 18px, 26px, 230px, 212px, '../images/sprite.png', 'ic-point', );
$ic-search-name: 'ic-search';
$ic-search-x: 115px;
$ic-search-y: 122px;
$ic-search-offset-x: -115px;
$ic-search-offset-y: -122px;
$ic-search-width: 22px;
$ic-search-height: 22px;
$ic-search-total-width: 230px;
$ic-search-total-height: 212px;
$ic-search-image: '../images/sprite.png';
$ic-search: (115px, 122px, -115px, -122px, 22px, 22px, 230px, 212px, '../images/sprite.png', 'ic-search', );
$ic-sold-name: 'ic-sold';
$ic-sold-x: 0px;
$ic-sold-y: 90px;
$ic-sold-offset-x: 0px;
$ic-sold-offset-y: -90px;
$ic-sold-width: 90px;
$ic-sold-height: 90px;
$ic-sold-total-width: 230px;
$ic-sold-total-height: 212px;
$ic-sold-image: '../images/sprite.png';
$ic-sold: (0px, 90px, 0px, -90px, 90px, 90px, 230px, 212px, '../images/sprite.png', 'ic-sold', );
$ic-tel-hover-name: 'ic-tel-hover';
$ic-tel-hover-x: 180px;
$ic-tel-hover-y: 128px;
$ic-tel-hover-offset-x: -180px;
$ic-tel-hover-offset-y: -128px;
$ic-tel-hover-width: 32px;
$ic-tel-hover-height: 32px;
$ic-tel-hover-total-width: 230px;
$ic-tel-hover-total-height: 212px;
$ic-tel-hover-image: '../images/sprite.png';
$ic-tel-hover: (180px, 128px, -180px, -128px, 32px, 32px, 230px, 212px, '../images/sprite.png', 'ic-tel-hover', );
$ic-tel-name: 'ic-tel';
$ic-tel-x: 180px;
$ic-tel-y: 96px;
$ic-tel-offset-x: -180px;
$ic-tel-offset-y: -96px;
$ic-tel-width: 32px;
$ic-tel-height: 32px;
$ic-tel-total-width: 230px;
$ic-tel-total-height: 212px;
$ic-tel-image: '../images/sprite.png';
$ic-tel: (180px, 96px, -180px, -96px, 32px, 32px, 230px, 212px, '../images/sprite.png', 'ic-tel', );
$ic-time-mini-name: 'ic-time-mini';
$ic-time-mini-x: 137px;
$ic-time-mini-y: 122px;
$ic-time-mini-offset-x: -137px;
$ic-time-mini-offset-y: -122px;
$ic-time-mini-width: 19px;
$ic-time-mini-height: 19px;
$ic-time-mini-total-width: 230px;
$ic-time-mini-total-height: 212px;
$ic-time-mini-image: '../images/sprite.png';
$ic-time-mini: (137px, 122px, -137px, -122px, 19px, 19px, 230px, 212px, '../images/sprite.png', 'ic-time-mini', );
$ic-time-name: 'ic-time';
$ic-time-x: 154px;
$ic-time-y: 146px;
$ic-time-offset-x: -154px;
$ic-time-offset-y: -146px;
$ic-time-width: 25px;
$ic-time-height: 26px;
$ic-time-total-width: 230px;
$ic-time-total-height: 212px;
$ic-time-image: '../images/sprite.png';
$ic-time: (154px, 146px, -154px, -146px, 25px, 26px, 230px, 212px, '../images/sprite.png', 'ic-time', );
$ic-vk-hover-name: 'ic-vk-hover';
$ic-vk-hover-x: 180px;
$ic-vk-hover-y: 64px;
$ic-vk-hover-offset-x: -180px;
$ic-vk-hover-offset-y: -64px;
$ic-vk-hover-width: 32px;
$ic-vk-hover-height: 32px;
$ic-vk-hover-total-width: 230px;
$ic-vk-hover-total-height: 212px;
$ic-vk-hover-image: '../images/sprite.png';
$ic-vk-hover: (180px, 64px, -180px, -64px, 32px, 32px, 230px, 212px, '../images/sprite.png', 'ic-vk-hover', );
$ic-vk-name: 'ic-vk';
$ic-vk-x: 115px;
$ic-vk-y: 90px;
$ic-vk-offset-x: -115px;
$ic-vk-offset-y: -90px;
$ic-vk-width: 32px;
$ic-vk-height: 32px;
$ic-vk-total-width: 230px;
$ic-vk-total-height: 212px;
$ic-vk-image: '../images/sprite.png';
$ic-vk: (115px, 90px, -115px, -90px, 32px, 32px, 230px, 212px, '../images/sprite.png', 'ic-vk', );
$ic-ytube-hover-name: 'ic-ytube-hover';
$ic-ytube-hover-x: 180px;
$ic-ytube-hover-y: 32px;
$ic-ytube-hover-offset-x: -180px;
$ic-ytube-hover-offset-y: -32px;
$ic-ytube-hover-width: 32px;
$ic-ytube-hover-height: 32px;
$ic-ytube-hover-total-width: 230px;
$ic-ytube-hover-total-height: 212px;
$ic-ytube-hover-image: '../images/sprite.png';
$ic-ytube-hover: (180px, 32px, -180px, -32px, 32px, 32px, 230px, 212px, '../images/sprite.png', 'ic-ytube-hover', );
$ic-ytube-name: 'ic-ytube';
$ic-ytube-x: 147px;
$ic-ytube-y: 90px;
$ic-ytube-offset-x: -147px;
$ic-ytube-offset-y: -90px;
$ic-ytube-width: 32px;
$ic-ytube-height: 32px;
$ic-ytube-total-width: 230px;
$ic-ytube-total-height: 212px;
$ic-ytube-image: '../images/sprite.png';
$ic-ytube: (147px, 90px, -147px, -90px, 32px, 32px, 230px, 212px, '../images/sprite.png', 'ic-ytube', );
$we-name: 'we';
$we-x: 212px;
$we-y: 104px;
$we-offset-x: -212px;
$we-offset-y: -104px;
$we-width: 9px;
$we-height: 9px;
$we-total-width: 230px;
$we-total-height: 212px;
$we-image: '../images/sprite.png';
$we: (212px, 104px, -212px, -104px, 9px, 9px, 230px, 212px, '../images/sprite.png', 'we', );
$spritesheet-width: 230px;
$spritesheet-height: 212px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($ic-big-arrow, $ic-email-mini, $ic-email, $ic-fb-hover, $ic-fb, $ic-hit, $ic-home, $ic-inst-hover, $ic-inst, $ic-new, $ic-phone-mini, $ic-phone, $ic-point-mini, $ic-point, $ic-search, $ic-sold, $ic-tel-hover, $ic-tel, $ic-time-mini, $ic-time, $ic-vk-hover, $ic-vk, $ic-ytube-hover, $ic-ytube, $we, );
$spritesheet: (230px, 212px, '../images/sprite.png', $spritesheet-sprites, );

@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
