$ic-big-arrow-name: 'ic-big-arrow';
$ic-big-arrow-x: 90px;
$ic-big-arrow-y: 90px;
$ic-big-arrow-offset-x: -90px;
$ic-big-arrow-offset-y: -90px;
$ic-big-arrow-width: 25px;
$ic-big-arrow-height: 56px;
$ic-big-arrow-total-width: 212px;
$ic-big-arrow-total-height: 212px;
$ic-big-arrow-image: '../images/sprite.png';
$ic-big-arrow: (90px, 90px, -90px, -90px, 25px, 56px, 212px, 212px, '../images/sprite.png', 'ic-big-arrow', );
$ic-fb-hover-name: 'ic-fb-hover';
$ic-fb-hover-x: 0px;
$ic-fb-hover-y: 180px;
$ic-fb-hover-offset-x: 0px;
$ic-fb-hover-offset-y: -180px;
$ic-fb-hover-width: 32px;
$ic-fb-hover-height: 32px;
$ic-fb-hover-total-width: 212px;
$ic-fb-hover-total-height: 212px;
$ic-fb-hover-image: '../images/sprite.png';
$ic-fb-hover: (0px, 180px, 0px, -180px, 32px, 32px, 212px, 212px, '../images/sprite.png', 'ic-fb-hover', );
$ic-fb-name: 'ic-fb';
$ic-fb-x: 122px;
$ic-fb-y: 146px;
$ic-fb-offset-x: -122px;
$ic-fb-offset-y: -146px;
$ic-fb-width: 32px;
$ic-fb-height: 32px;
$ic-fb-total-width: 212px;
$ic-fb-total-height: 212px;
$ic-fb-image: '../images/sprite.png';
$ic-fb: (122px, 146px, -122px, -146px, 32px, 32px, 212px, 212px, '../images/sprite.png', 'ic-fb', );
$ic-hit-name: 'ic-hit';
$ic-hit-x: 0px;
$ic-hit-y: 0px;
$ic-hit-offset-x: 0px;
$ic-hit-offset-y: 0px;
$ic-hit-width: 90px;
$ic-hit-height: 90px;
$ic-hit-total-width: 212px;
$ic-hit-total-height: 212px;
$ic-hit-image: '../images/sprite.png';
$ic-hit: (0px, 0px, 0px, 0px, 90px, 90px, 212px, 212px, '../images/sprite.png', 'ic-hit', );
$ic-home-name: 'ic-home';
$ic-home-x: 180px;
$ic-home-y: 160px;
$ic-home-offset-x: -180px;
$ic-home-offset-y: -160px;
$ic-home-width: 14px;
$ic-home-height: 14px;
$ic-home-total-width: 212px;
$ic-home-total-height: 212px;
$ic-home-image: '../images/sprite.png';
$ic-home: (180px, 160px, -180px, -160px, 14px, 14px, 212px, 212px, '../images/sprite.png', 'ic-home', );
$ic-inst-hover-name: 'ic-inst-hover';
$ic-inst-hover-x: 115px;
$ic-inst-hover-y: 90px;
$ic-inst-hover-offset-x: -115px;
$ic-inst-hover-offset-y: -90px;
$ic-inst-hover-width: 32px;
$ic-inst-hover-height: 32px;
$ic-inst-hover-total-width: 212px;
$ic-inst-hover-total-height: 212px;
$ic-inst-hover-image: '../images/sprite.png';
$ic-inst-hover: (115px, 90px, -115px, -90px, 32px, 32px, 212px, 212px, '../images/sprite.png', 'ic-inst-hover', );
$ic-inst-name: 'ic-inst';
$ic-inst-x: 147px;
$ic-inst-y: 90px;
$ic-inst-offset-x: -147px;
$ic-inst-offset-y: -90px;
$ic-inst-width: 32px;
$ic-inst-height: 32px;
$ic-inst-total-width: 212px;
$ic-inst-total-height: 212px;
$ic-inst-image: '../images/sprite.png';
$ic-inst: (147px, 90px, -147px, -90px, 32px, 32px, 212px, 212px, '../images/sprite.png', 'ic-inst', );
$ic-new-name: 'ic-new';
$ic-new-x: 90px;
$ic-new-y: 0px;
$ic-new-offset-x: -90px;
$ic-new-offset-y: 0px;
$ic-new-width: 90px;
$ic-new-height: 90px;
$ic-new-total-width: 212px;
$ic-new-total-height: 212px;
$ic-new-image: '../images/sprite.png';
$ic-new: (90px, 0px, -90px, 0px, 90px, 90px, 212px, 212px, '../images/sprite.png', 'ic-new', );
$ic-search-name: 'ic-search';
$ic-search-x: 115px;
$ic-search-y: 122px;
$ic-search-offset-x: -115px;
$ic-search-offset-y: -122px;
$ic-search-width: 22px;
$ic-search-height: 22px;
$ic-search-total-width: 212px;
$ic-search-total-height: 212px;
$ic-search-image: '../images/sprite.png';
$ic-search: (115px, 122px, -115px, -122px, 22px, 22px, 212px, 212px, '../images/sprite.png', 'ic-search', );
$ic-sold-name: 'ic-sold';
$ic-sold-x: 0px;
$ic-sold-y: 90px;
$ic-sold-offset-x: 0px;
$ic-sold-offset-y: -90px;
$ic-sold-width: 90px;
$ic-sold-height: 90px;
$ic-sold-total-width: 212px;
$ic-sold-total-height: 212px;
$ic-sold-image: '../images/sprite.png';
$ic-sold: (0px, 90px, 0px, -90px, 90px, 90px, 212px, 212px, '../images/sprite.png', 'ic-sold', );
$ic-tel-hover-name: 'ic-tel-hover';
$ic-tel-hover-x: 180px;
$ic-tel-hover-y: 32px;
$ic-tel-hover-offset-x: -180px;
$ic-tel-hover-offset-y: -32px;
$ic-tel-hover-width: 32px;
$ic-tel-hover-height: 32px;
$ic-tel-hover-total-width: 212px;
$ic-tel-hover-total-height: 212px;
$ic-tel-hover-image: '../images/sprite.png';
$ic-tel-hover: (180px, 32px, -180px, -32px, 32px, 32px, 212px, 212px, '../images/sprite.png', 'ic-tel-hover', );
$ic-tel-name: 'ic-tel';
$ic-tel-x: 180px;
$ic-tel-y: 64px;
$ic-tel-offset-x: -180px;
$ic-tel-offset-y: -64px;
$ic-tel-width: 32px;
$ic-tel-height: 32px;
$ic-tel-total-width: 212px;
$ic-tel-total-height: 212px;
$ic-tel-image: '../images/sprite.png';
$ic-tel: (180px, 64px, -180px, -64px, 32px, 32px, 212px, 212px, '../images/sprite.png', 'ic-tel', );
$ic-vk-hover-name: 'ic-vk-hover';
$ic-vk-hover-x: 180px;
$ic-vk-hover-y: 96px;
$ic-vk-hover-offset-x: -180px;
$ic-vk-hover-offset-y: -96px;
$ic-vk-hover-width: 32px;
$ic-vk-hover-height: 32px;
$ic-vk-hover-total-width: 212px;
$ic-vk-hover-total-height: 212px;
$ic-vk-hover-image: '../images/sprite.png';
$ic-vk-hover: (180px, 96px, -180px, -96px, 32px, 32px, 212px, 212px, '../images/sprite.png', 'ic-vk-hover', );
$ic-vk-name: 'ic-vk';
$ic-vk-x: 180px;
$ic-vk-y: 128px;
$ic-vk-offset-x: -180px;
$ic-vk-offset-y: -128px;
$ic-vk-width: 32px;
$ic-vk-height: 32px;
$ic-vk-total-width: 212px;
$ic-vk-total-height: 212px;
$ic-vk-image: '../images/sprite.png';
$ic-vk: (180px, 128px, -180px, -128px, 32px, 32px, 212px, 212px, '../images/sprite.png', 'ic-vk', );
$ic-ytube-hover-name: 'ic-ytube-hover';
$ic-ytube-hover-x: 90px;
$ic-ytube-hover-y: 146px;
$ic-ytube-hover-offset-x: -90px;
$ic-ytube-hover-offset-y: -146px;
$ic-ytube-hover-width: 32px;
$ic-ytube-hover-height: 32px;
$ic-ytube-hover-total-width: 212px;
$ic-ytube-hover-total-height: 212px;
$ic-ytube-hover-image: '../images/sprite.png';
$ic-ytube-hover: (90px, 146px, -90px, -146px, 32px, 32px, 212px, 212px, '../images/sprite.png', 'ic-ytube-hover', );
$ic-ytube-name: 'ic-ytube';
$ic-ytube-x: 180px;
$ic-ytube-y: 0px;
$ic-ytube-offset-x: -180px;
$ic-ytube-offset-y: 0px;
$ic-ytube-width: 32px;
$ic-ytube-height: 32px;
$ic-ytube-total-width: 212px;
$ic-ytube-total-height: 212px;
$ic-ytube-image: '../images/sprite.png';
$ic-ytube: (180px, 0px, -180px, 0px, 32px, 32px, 212px, 212px, '../images/sprite.png', 'ic-ytube', );
$we-name: 'we';
$we-x: 194px;
$we-y: 160px;
$we-offset-x: -194px;
$we-offset-y: -160px;
$we-width: 9px;
$we-height: 9px;
$we-total-width: 212px;
$we-total-height: 212px;
$we-image: '../images/sprite.png';
$we: (194px, 160px, -194px, -160px, 9px, 9px, 212px, 212px, '../images/sprite.png', 'we', );
$spritesheet-width: 212px;
$spritesheet-height: 212px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($ic-big-arrow, $ic-fb-hover, $ic-fb, $ic-hit, $ic-home, $ic-inst-hover, $ic-inst, $ic-new, $ic-search, $ic-sold, $ic-tel-hover, $ic-tel, $ic-vk-hover, $ic-vk, $ic-ytube-hover, $ic-ytube, $we, );
$spritesheet: (212px, 212px, '../images/sprite.png', $spritesheet-sprites, );

@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
