//container size
$padding: 15px;
$max-width: 1000px; //1200px;
$min-width: 280px;

//path
$font-path: '/fonts';
$img: '../images';
//fonts
$font-size: 14px;
$roboto: 'Roboto';
$rubik: 'Rubik';
//colors;
$link-hover-color : red;

//display size
$display-normal: 980px;
$display-small: 820px;
$display-smallest: 640px;
$display-mini: 380px;
