.reviews {
  padding-bottom: 30px;
}

.reviews .header-block {
  padding-bottom: 28px;
}

.reviews .block-text {
  margin-bottom: 52px;
}

.reviews .reviews-list .item {
  text-align: center;
}

.reviews .reviews-list .item .cell .pic {
  float: left;
}
